*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

input, textarea, button {
    font: inherit;
}

:root {
    --color-primary: #20B2AA;
    --color-primary-dark: #008B8B;
    --color-light: #fafafa;
    --color-mid: #F0F0F0;
    --color-dark: #202020;
    --color-font-body: #333333;
    --color-success: #98FB98;
    --color-warn: #F4A460;
    --color-error: #F08080;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
}

/* Layout */
.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* Sections */
.sidebar-container {
    background-color: var(--color-mid);
    border: solid 2px var(--color-light);
    flex: 0 0 300px;
}

.sidebar-container::after {
    display: block;
    position: relative;
    left: 3px;
    z-index: -1;
    height: 100%;
    width: 100%;
    content: "";
    background-color: var(--color-mid);
}

.tilemap-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}